









/*这是首页第四部分banner设置*/
#banner-wrap{padding-top:8px;}
#banner{height: 360px;overflow: hidden;}
#banner-left{width:920px;height:360px;position: relative;z-index: 0;}
#banner-left img{position: absolute;z-index: 0;}
#banner-left-nav{width:240px;height:10px;position: absolute;bottom:15px;left:380px}
.banner-lefta{margin:0 5px;display: inline-block;height:10px;width:30px;border-radius: 5px;}
.banner-a{position: absolute;display: block;height:100%;width: 100%;}
#banner-left-prev,#banner-left-next{font-weight:900;display:none;text-align:center;line-height:55px;top:45%;position: absolute;height: 55px;width:55px;font-size:24px;color:#fff;background: #000;filter:alpha(opacity=30);opacity: .3;}
#banner-left-prev{left: 10px;}
#banner-left-next{right:10px;}


#banner-right{width:266px;height:360px;position: relative;}
#banner-right img{border:0;}
#banner-right-prev,#banner-right-next{font-weight:900;display:none;text-align:center;line-height:40px;top:45%;position: absolute;height: 40px;width:40px;font-size:24px;color:#fff;background: #000;filter:alpha(opacity=20);opacity: .2;}
#banner-bg{height:24px;width:29px;position: absolute;left:46%;bottom:15px;background: url(../img/banner-right-bg.jpg) no-repeat center;border-radius: 8px;}
#banner-right-prev{left:3px;}
#banner-right-next{right:3px;}




/*这是首页第五部分的的main1部分*/
#index-main1-wrap{}
#index-main1{height:506px;}
#index-mian1-tit{height:66px;font-weight:900;}
#tit-left{height:65px;width:226px;font-size:26px;text-align: center;border-bottom:1px solid #4d8234;}
#tit-left h2{line-height:66px;}
#tit-right{height:65px;width: 974px;border-bottom: 1px solid #8aa963;}
#tit-right .titr{display: inline-block;height:64px;width:43px;margin-right:10px;font-size:14px;line-height:72px;}
.titrcurr{border-bottom: 2px solid #3f9300;}

/*左边导航*/
#main1-con{height:441px;}
#main1-con-left{padding:0 18px 0 13px;float:left;background:#7cbb2e;height:433px;width:195px;border-top:5px solid #390;border-bottom:1px solid #8aa963;}
#mclt{height: 80px;width:190px;margin-bottom:17px;}
#mclt-con{float: left;}
.main1-a1{width:180px;height:41px;float: left;color:#edffca;font-size:12px;}
.tith{line-height:50px;float:left;width:195px;}
.gt{float: right;font-size:10px;}
#main1-con-left a{font-size:12px;color:#edffca;font-size:12px;margin-right:22px;line-height:22px;}
#mclc{height:141px;width:187px;margin-bottom:18px;}
#mclc-con{float:left;}
#mclb{height:146px;width:196px;}
#mclb-con{width:213px;height:104px;float:left;}

/*nain1的右半部分*/
#main1-con-right{border-right:1px solid #eee;border-bottom:1px solid #eee;float:left;height:438px;width:973px;position: relative;}
.im1cr1{position: absolute;height:438px;width:973px;}
.mcrl{float:left;width:352px;padding:10px;height:420px;}
.mcrl-con{width:352px;height:420px;border:1px solid #e9b4c6;}
.none{display: none;}
.mcrc{float:left;height:438px;width:398px;border:1px solid #eee;border-top:0;}
.mcrc a{display:block;float: left;width:198px;border-bottom: 1px solid #eee;border-right: 1px solid #eee;}
.mcrc a img{display: block;width:198px;}
.mcrr{float:left;height:438px;width:200px;border-right:1px solid #eee;overflow: hidden;}
.mcrr img{width:200px;}

/*这是首页第六部分的的main2部分*/
#index-main2{height:217px;}
#im2-tit{height:70px;width:1200px;line-height:70px;}
.im2ta{font-size:28px;color:#333;}
.im2ta:hover{color:#fea500;}
.im2-src{width:118px;}
.im2txta{text-align:center;width:118px;height:118px;border:1px solid #eeeeee;margin-right:15px;}
.im2-1sta{font-size:18px;color:#fff;margin-right:15px;float:left;padding:36px 42px 30px 42px;width:36px;height:54px;background: #fea500;}




/*这是首页第七部分main3部分*/
#index-main3{height:409px;}
#index-main3 a:hover{color:#fea500;}
#index-main3 .no:hover{color:#333;}
#im3-tit{height:41px;width:1200px;}
#im3t-nav{height:41px;width:372px;float: left;}
#bottomborder{border-bottom:1px solid #000;float:left;height:40px;width:500px;}
.im4tna{text-align:center;line-height:37px;font-size:16px;color: #333;display:inline-block;width:123px;height:37px;border-top:3px solid #fff;border-bottom: 1px solid #000;}
.im3acurr{width:123px;border:1px solid #fff;border-right: 1px solid #000;border-right: 1px solid #000;border-bottom: 1px solid #fff;border-top:3px solid #000;}
.im3amore{width:123px;border:1px solid #000;border-bottom: 1px solid #fff;border-top:3px solid #000;}

#im3cl{height:368px;width:872px;position: relative;}
.im3cl-box{height:338px;width:872px;padding-top:30px;position:absolute;}
.im3cleft-dl{height:185px;width:872px;}
.im3dl1{float: left;margin-right: 33px;}
.im3dl1 img{width:193px;height:140px;}
.im3dl1 dd {text-align: center;font-size:16px;}
.im3dl1 dd .im3-dl1-txt{color:#333;line-height: 36px;}
.im3cul li{height:35px;border-bottom: dotted 1px #ccc;width:273px;}
.im3-ul1-txt{color:#333;line-height:35px;font-size:12px;}
.im3c-list{width:872px;height:106px;margin-bottom: 15px;}
.im3cul{list-style-type: square;list-style-position: inside;margin-right:25px;}
.im3cul1{margin:0;width:872px;height:32px;list-style-type: square;list-style-position: inside;}
.im3cul1 .margin{float: left; margin-right:25px;border:0;width:190px;}
.im3c-foot{background: #f7f7f7;width: 872px;height:32px;}
#im3cr{height:368px;width:310px;}
#im3cr-img{margin-bottom:28px;width:310px;height:130px;}
#space{height:28px;width: 310px;}
#fs-wrap{height:194px;width:280px;border:1px solid #dcdcdc;padding-top:15px;padding-left: 28px;}
#fs-cap{text-align:center;line-height:28px;font-size:14px;color:#407a26;margin:15px auto 0;border:1px solid #dcdcdc;border-radius: 10px;height:28px;width:208px;}
#want{height:42px;width:158px;border-radius: 18px;background: url(../img/im3-fs-2.jpg) no-repeat center;margin-top:10px;margin-left:47px;}
.wanta{font-size:14px;color:#fff;text-indent:33px;line-height:42px;width: 100%;height: 100%;display: block;}





/*这是首页第八部分main4部分*/
#index-main4{height:501px;}
#index-main4-tit{height:67px;padding-top:34px;width: 100%;}
#index-main4-tit a:hover{color:#fea500;}
#im4th{font-size:28px;line-height:67px;height:67%;width:196px;}
.im4tha{float:left;width:100%;height:100%}
#im4tr .im4ta{float: left;margin-left:31px;line-height:67px;}
#index-main4-con{height:400px;width:100%;}
#im4cl{overflow:hidden;height:400px;width:590px;float: left;position: relative;}
#im4cl #im4cla-box{position: absolute;width:2950px;height:400px}
.im4cla{float:left;}
#im4cl-nav{width:170px;height:9px;position: absolute;bottom: 10px;left:215px;}
.im4cl-list{float:left;margin:0 5px;height:9px;width:24px;border-radius: 3px;background: #fff;}
.im4cl-color{background: #fea500;}
#im4cl-prev,#im4cl-next{font-weight:900;text-align:center;display:none;width:45px;height: 45px;line-height:45px;position: absolute;top:45%;font-size:24px;color:#fff;background: #000;filter:alpha(opacity=20);opacity: .2}
#im4cl-prev{left:5px;}
#im4cl-next{right:5px;}


#im4cc{float:left;height:400px;width: 281px;margin:0 24px 30px;}
.im4ca{float: left;}
#imaca-1{margin-bottom: 20px;}
#im4cr{float:left;}
.im4cra{float:right;}





/*这是首页第九部分友情链接*/
#friendlink-wrap{border-bottom: 1px solid #dbdbdb;padding-top:53px;}
#friendlink{height:209px}
#link-tit{height:39px;font-size:12px;color:#333;width:100%;}
#link-con{height:118px;width:1138px;border:solid 1px #eaeaea;padding: 5px 31px 0 31px;}
#link-con .lca{margin-right:30px;line-height: 40px;font-size:12px;color: #5e696f;font-size:12px;color:#333;}
#link-con .lca:hover{color:#fea500;}




/*返回顶部*/

#gototop{display:none;border-radius:50%;position: fixed;height:45px;width:45px;background: url(../img/gotop1.png) no-repeat center;bottom: 20px;right:20px;}
#goto{float:left;height:45px;width:45px;border-radius:50%;}
#gototop:hover{background-image: url(../img/gotop2.png);}
